<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maksimik.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activites.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.HomeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activites.NewChangeLocationActivity" />
        <activity android:name=".activites.SettingsActivity" />
        <activity android:name=".activites.WeatherDetailsActivity" />
        <activity android:name=".activites.SearchActivity" />
        <activity android:name=".activites.AboutTheProgramActivity" />
        <activity android:name=".activites.WeatherEveryThreeHoursActivity" />
        <activity android:name=".activites.ChangeLocationActivity" />

    </application>

</manifest>